.pv {
  font:normal 1.1em/1.36 "initial"
}
  .pv .prop {
    font-weight: bold; }
  .pv .null {
    color: red; }
  .pv .bool {
    color: blue; }
  .pv .num {
    color: blue; }
  .pv .string {
    color: green;
    white-space: pre-wrap; }
    .pv .string.multiline {
      display: inline-block;
      vertical-align: text-top; }
  .pv .collp {
    position: absolute;
    left: -1em;
    cursor: pointer; }
  .pv .colla {
    transition: height 1.2s;
    transition: width 1.2s; }
  .pv .colla.collap {
    height: .8em;
    width: 1em;
    display: inline-block;
    overflow: hidden;
    margin: 0; }
  .pv .colla.collap:before {
    content: "…";
    width: 1em;
    margin-left: .2em; }
  .pv .collp.collap {
    transform: rotate(0deg); }
  .pv .q {
    display: inline-block;
    width: 0px;
    color: transparent; }
  .pv li {
    position: relative; }
  .pv ul {
    list-style: none;
    margin: 0 0 0 2em;
    padding: 0; }
  .pv h1 {
    font-size: 1.2em; }
    .pv a {
      color:peachpuff
    }